.sidebar{
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 130;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.topphoto{
	height:22%;
	width: 10%;
	position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffa500;
    overflow-x: hidden;
    padding-top: 20px;
	top: -22; height:auto; width: 10%; content: url("../resources/images/p2w_icon.jpg");
}
