:root{
  --text_color: #FFFFFF;
  --dark_text_color: #000000;
  --primary_accent_color: #333334;
  --secondary_accent_color: #2d2d30;
  --primary_background_color: #252526;
  --secondary_background_color: #28282b;

  --info_log_color: #FF000000;
  --error_log_color: #ACB035;
  --warning_log_color: #C6A14B;
  --fatal_log_color: #C64B4B;
  --exception_log_color: #921F1F;
}

html,body {
  height: 100vh;
  background-color: var(--secondary_background_color);
  color: var(--text_color);
}

/*Sidebar positioning*/
.sidebar-fixed {
  margin-top: 0px;
  background-color: var(--primary_background_color);
  padding: 20px 18px;
  position: fixed;
  width: 200px;
  height: 100%;
  top: -30px;
  left: 0;
}

/*Main content styling*/
.main-content {
  position: relative;
  margin-left: 200px;
}

/*Sidebar app icon*/
.appImageIcon{
	height: 180px;
	width: 100%;
	position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  content: url("../resources/images/dota_plus.png");
  margin-top: 10px;
  margin-bottom: 10px;
}

btn.primary{
  background: #0099cc;
  color: #ffffff;
}
.text
{
	font-weight:normal;
	font-variant:small-caps;
	color:#ffffff;
	letter-spacing:0pt;
	word-spacing:1pt;
	font-size:21px;
	text-align:left;
	font-family:georgia, serif;
	line-height:1;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.title
{
	font-weight:normal;
	font-variant:small-caps;
	color:#1437A8;
	letter-spacing:0pt;
	word-spacing:1pt;
	font-size:30px;
	text-align:left;
	font-family:georgia, serif;
	line-height:1;
}
ul
{
	list-style-type: none;
	padding-top:20px;
}
