:root{
  --text_color: #FFFFFF;
  --dark_text_color: #000000;
  --primary_accent_color: #F14338;
  --secondary_accent_color: #F1EE38;
  --primary_background_color: #38AEF1;
  --secondary_background_color: #7EF138;
}

html,body {
  height:100vh;
}

/*Sidebar positioning*/
.sidebar-fixed {
  margin-top: 0px;
  background-color: var(--primary_background_color);
  padding: 20px 18px;
  position: fixed;
  width: 200px;
  height: 100%;
  top: -30px;
  left: 0;
}

/*Main content styling*/
.main-content {
  position: relative;
  margin-left: 200px;
}

/*Sidebar app icon*/
.appImageIcon{
	height: 200px;
	width: 100%;
	position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  content: url("../resources/images/p2w_icon.jpg");
}

btn.primary{
  background: #0099cc;
  color: #ffffff;
}
